// Media query mixins
// Imported globally with sass-loader

// I recently created this file in my current workplace to help create media queries based on common breakpoints

$media-query-sizes: (
	mobile: (
		min: 576px,
		max: 767px
	),
	tablet: (
		min: 768px,
		max: 991px
	),
	laptop: (
		min: 992px,
		max: 1199px
	),
	desktop: (
		min: 1200px
	)
);

$screen: "only screen";
@function media-query($media, $optional-media: "", $min: true) {
	$media-label: "";

	@if ($optional-media != "") {
		$media-sizes-min: map-get($media-query-sizes, $media);
		$media-sizes-max: map-get($media-query-sizes, $optional-media);
		$media-label: $screen +
			" and (min-width:#{map-get($media-sizes-min, 'min')}) and (max-width:#{map-get($media-sizes-max, 'max')})";
	} @else {
		$query: "max";

		@if ($min) {
			$query: "min";
		}

		$media-sizes: map-get($media-query-sizes, $media);
		$media-label: $screen +
			" and (#{$query}-width:#{map-get($media-sizes, $query)})";
	}

	@return $media-label;
}

// Min media query
@mixin min($media) {
	@media #{media-query($media)} {
		@content;
	}
}

// Max media query
@mixin max($media) {
	@media #{media-query($media, '', false)} {
		@content;
	}
}

// Min & max media query
@mixin min-max($min, $max) {
	@media #{media-query($min, $max)} {
		@content;
	}
}
