// Base variables
// Imported globally using style-resources-loader

// Colors
$bg-color-base: #FFFEFE;
$bg-color-alt: #D8DFE0;
$bg-color-accent: #3B8261;
$color-primary: #010B10;
$color-secondary: #1C768F;
$color-tertiary: #4E5D61;
$color-accent: #CC650C;
$color-transparent: rgba(17,17,17,0.8);
$text-color-secondary: #757474;

// Typography
$fallback-fonts: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif;
$heading-sizes: (h1: 3.4rem, h2: 2.6rem, h3: 2.4rem, h4: 2rem, h5: 1.8rem, h6: 1.6rem);

// Spacing
$base-spacer: 2rem;
$base-component-height: 4.5rem;
//TODO: More commonly used spacer is 3rem

// Animations
$base-transition: all .5s ease;

// Other
$img-border-radius: 3rem;
$base-box-shadow: .2rem .2rem .2rem 0 $color-primary;